# Question 1

Assignment Tasks:
1. State the Hypotheses:
2. Compute the Chi-Square Statistic:
3. Determine the Critical Value:
Using the significance level (alpha) of 0.05 and the degrees of freedom (which is the number of categories minus 1)
4. Make a Decision:
Compare the Chi-Square statistic with the critical value to decide whether to reject the null hypothesis.

Satisfaction ,	Smart Thermostat	,Smart Light	Total

Very Satisfied	50	70	120

Satisfied	80	100	180

Neutral	60	90	150

Unsatisfied	30	50	80

Very Unsatisfied	20	50	70

Total	240	360	600

In [2]:
#chi_square stat = (observed - expected)**2  / (expected)

In [3]:
import pandas as pd
df = pd.DataFrame([[50,80,60,30,20],[70,100,90,50,50]],index = [['smart_thermostat','smart_light']],
                  columns =[['very satisfied','satisfied','neutral','unsatisfied','very unsatisfied']])
df

                 very satisfied satisfied neutral unsatisfied very unsatisfied
smart_thermostat             50        80      60          30               20
smart_light                  70       100      90          50               50

null hypothesis :there is no significant association between the type of device purchased and the customer's satisfaction level.

alternate hypothesis : there is significant association between the type of device purchased and the customer's satisfaction level.

In [4]:
from scipy.stats import chi2_contingency
chi2_contingency(df)

Chi2ContingencyResult(statistic=5.638227513227513, pvalue=0.22784371130697179, dof=4, expected_freq=array([[ 48.,  72.,  60.,  32.,  28.],
       [ 72., 108.,  90.,  48.,  42.]]))

In [5]:
from scipy.stats import chi2
dof = 4
alpha = 0.05
critical_value = chi2.ppf(1 - alpha ,dof)
critical_value

9.487729036781154

In [6]:
stat_value = chi2_contingency(df)[0]
stat_value

5.638227513227513

In [8]:
p_value = chi2_contingency(df)[1]
p_value

0.22784371130697179

In [7]:
dof = chi2_contingency(df)[2]
dof

4

In [9]:
dff=chi2_contingency(df)[3]
pd.DataFrame(
    data=dff[:,:],
    index=['smart_thermostat','smart_light'],
    columns=['very satisfied','satisfied','neutral','unsatisfied','very unsatisfied']
).round(2)

,very satisfied,satisfied,neutral,unsatisfied,very unsatisfied
smart_thermostat,48.0,72.0,60.0,32.0,28.0
smart_light,72.0,108.0,90.0,48.0,42.0

In [10]:
if stat_value > critical_value:
  print(stat_value,'is greater than',critical_value,',null hypothesis is rejected')
else:
  print(stat_value,'is less than ',critical_value,', null hypothesis is accepted')

5.638227513227513 is less than  9.487729036781154 , null hypothesis is accepted

here , f-stat < f-crit ,null hypothesis accepted.hence there is no significant association between the type of device purchased and the customer's satisfaction level.

# Question 2

Assignment Tasks:

1. State the Hypotheses statement:

2. Calculate the Test Statistic:

Use the following formula to calculate the test statistic (t):
where:
ˉxˉ = sample mean weekly cost (Rs. 3,050)
μ = theoretical mean weekly cost according to the cost model (W = $1,000 + $5X for X = 600 units)
σ = 5*25 units
n = sample size (25 restaurants)

3. Determine the Critical Value:
Using the alpha level of 5% (α = 0.05), determine the critical value from the standard normal (Z) distribution table.

4. Make a Decision:

Compare the test statistic with the critical value to decide whether to reject the null hypothesis.

5. Conclusion:

Based on the decision in step 4, conclude whether there is strong evidence to support the restaurant owners' claim that the weekly operating costs are higher than the model suggests.

# 1.state the hypothesis
Null hypothesis :
 the cost model is not accurate

Alternate hypothesis:
 the cost model is accurate

# 2.calculate the Test statatics

In [12]:
import numpy as np
sample_mean = 3500
population_mean = 1000 + (5 * 600)
population_stdev = (5 * 25)
n = 25

In [13]:
np.set_printoptions(suppress = True)
from math import sqrt
stat = (sample_mean - population_mean) / (population_mean / sqrt(n))
stat

-0.625

# 3 . Determining the critical value

In [14]:
from scipy.stats import  norm
dof = 24
alpha = 0.05
crit = norm.ppf(1 - (alpha))
crit

1.6448536269514722

In [15]:
from scipy.stats import norm
p_value = 1 - norm.cdf(stat)
p_value

0.7340144709512995

# 4.make a decision

here we conclude that ,we accept null hypothesis in two cases

1. stat value < crit vale , so we accept null hypothesis

2. p value > 0.05, so we accept null hypothesis

# 5.conculusion

we conclude that there is strong evidence to support the restaurant owners' claim that the weekly operating costs are higher than the model suggests.